lime
pandas
numpy
scikit-learn
matplotlib
seaborn
scipy
opencv-python
torchvision
torch
ipython
shap
bertviz
captum
transformers
langchain
langchain-community
langchain-experimental
openai
datasets
ipywidgets
xgboost